body {
    padding-top: 70px;
}

.alert {
    border-radius: 0;
}

.panel {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.dropdown-menu {
    border-radius: 0;
}

.nav-tabs > li > a {
    border-radius: 0;
}

.center-text {
    text-align: center;
}

.header-text {
    text-transform: uppercase;
    font-stretch: ultra-condensed;
    color: #5AA465;
    font-weight: 700;

}

.ciee-container {
    padding-left: 90px;
    padding-right: 90px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.header-container {
    width: 100%;
}

.ciee-navbar {
    min-height: 40px;
    border-bottom-width: 0px;
}

.navbar-toggle {
    padding: 4px 6px;
}

.btn-ciee-primary {
    color: white;
    border-radius: 0px;
    background-color: #009BD7;
}

.ciee-icon {
    margin-left: -15px;
    height: 40px;
}

.ciee-img {
    width: 140px;
}

.ciee-img-text {
    font-stretch: semi-condensed;
    padding-left: 10px;
}

.ciee-menu {
    background-color: #ffffff;
    border-color: #D9D9D9;
    border-radius: 0;
    border-width: 1px 0 1px 0;
}

    .ciee-menu .container-fluid {
        padding-left: 90px;
    }

.nav-ciee > li {
    border: solid #D9D9D9;
    border-width: 0 1px 0 1px;
    margin-left: -1px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #009bd9;
    background-color: #fff;
    border-bottom: 9px solid #f58025;
    padding-bottom: 6px;
    margin-bottom: 0;
}

.nav-pills > li > a > .badge {
    margin-left: 10px;
}

.panel-body.ciee-panel {
}

.panel-camp-title {
    background-color: #5AA465;
    margin-bottom: 16px;
    padding: 10px;
}

    .panel-camp-title h1, .panel-camp-title h2 {
        color: white;
        text-transform: uppercase;
        font-stretch: ultra-condensed;
        font-weight: 700;
    }

.panel-camp {
    border-width: 0;
    border-top: 9px solid #5AA465;
    margin-bottom: 26px;
}

.panel-camp p {
    color: #777777;
    font-size: 12px;
}

.panel-camp a:hover {
    text-decoration: none;
}

.panel-camp-content {
    border: 1px solid #D9D9D9;
    border-top-width: 0;
    padding: 10px;
    transition: all 0.5s ease;
}

.panel-camp-content:hover {
    cursor: pointer;
}

    .panel-camp-content h1, .panel-camp-content h2, .panel-camp-content h3, .panel-camp-content h4 {
        color: #5AA465;
        text-transform: uppercase;
        font-stretch: ultra-condensed;
        font-weight: 700;
        margin-top: 4px;
    }

    .panel-camp-content h5 {
        text-transform: uppercase;
        font-stretch: ultra-condensed;
        font-weight: 700;
        margin-top: 4px;
    }

.apps-photo {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -o-transition: all 0.5s ease; /* IE 9 */
    -ms-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
        max-width: 100%;
}

.apps-photo:hover {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);  
}

.applicant-pic {
    margin-bottom: 10px;
}

.applicant-name {
    margin-top: 0;
}

.list-group-item.applicant-menu {
    background-color: none;
}

.student-search {
    border: 1px solid #DDDDDD;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 24px;
    background-color: #fafafa;
}

    .student-search .media .media-body p {
        font-size: 9pt;
    }

.student-pic {
    width: auto;
    max-height: 200px;
}

.panel-app {
    border-color: #ddd;
}

.panel-app > .panel-heading {
    background-color: #5AA465;
    color: white;
    border-radius: 0;
    margin: -1px -1px 0 -1px;
    padding: 1px;
}

    .panel-app > .panel-heading > h4 {
        text-transform: uppercase;
        font-stretch: ultra-condensed;
    }

    .panel-app > ul > li {
        font-size: 12px;
    }

.panel-heading-student {
    padding: 5px;
    
}


@media (max-width: 767px) {
    .ciee-icon {
        margin-left: 0;
        height: 40px;
    }

    .ciee-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}